{% extends 'core/base.html' %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-primary mb-5 border-bottom">CONTACT US</h1>
    <div class="row mb-5">
        <p class="mx-auto mb-5">
            Do yu have any question? please don't hesitate feel free to ask me anything...i will help yu.
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputname">Your Name</label>
                        <input type="text" class="form-control" id="inputname" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputlast">Last Name</label>
                        <input type="text" class="form-control" id="inputname" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputemail">Email</label>
                        <input type="email" class="form-control" id="inputname" required/>
                </div>
                <div class="mb-3">
                    <label for="inputTextarea">Your message: </label>
                        <textarea class="form-control" id="inputtextarea" required></textarea>
                </div>
                <div class="flex d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary ">Submit</button>

                </div>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x "></i>
                    <p>Fatehabad, Haryana India</p>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x "></i>
                    <p>+91 9517455871</p>
                    <p>+91 9517459881</p>
                </li>
                <li>
                    <i class="fas fa-envelope fa-2x "></i>
                    <p>amankayat789@gmail.com</p>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="text-center">
    <a href="https://www.linkedin.com/in/aman-kayat-554195186/"><i class ="fab fa-linkedin text-warning"></i></a>
    <a href="#"><i class ="fab fa-facebook-f text-warning"></i></a>
    <a href="https://www.instagram.com/aman.k789/"><i class ="fab fa-instagram text-warning"></i></a>
<a href="https://www.youtube.com/channel/UCC8MeRsVfid94bjpdG_3E7w"><i class ="fab fa-youtube text-warning "></i></a>

</div>
{% endblock content %}