.st-font {
  font-family: "Satisfy", cursive;
}
html {
  height: 100%;
  color: whitesmoke;
}
body {
    height: 100%;
  color: whitesmoke;
  background-image: linear-gradient(
      66deg,
      transparent 0%,
      transparent 24%,
      rgba(195, 195, 195, 0.04) 24%,
      rgba(195, 195, 195, 0.04) 80%,
      transparent 80%,
      transparent 100%
    ),
    linear-gradient(
      153deg,
      transparent 0%,
      transparent 29%,
      rgba(195, 195, 195, 0.04) 29%,
      rgba(195, 195, 195, 0.04) 45%,
      transparent 45%,
      transparent 100%
    ),
    linear-gradient(
      199deg,
      transparent 0%,
      transparent 32%,
      rgba(195, 195, 195, 0.04) 32%,
      rgba(195, 195, 195, 0.04) 59%,
      transparent 59%,
      transparent 100%
    ),
    linear-gradient(
      277deg,
      transparent 0%,
      transparent 56%,
      rgba(195, 195, 195, 0.04) 56%,
      rgba(195, 195, 195, 0.04) 57%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  color: whitesmoke;
}
.container-fluid {
  min-height: 100%;
}

/* services icon */
.i-colo {
  color: chartreuse;
}

/* services subtitle color */

a.nav-link{
    color: whitesmoke;
}
a.nav-link:hover {
  background-color: grey;
  color: white;
}
a.nav-link.active {
  background-color: grey;
  color: white;
}
